@using Cedesistemas.WheresMyStuff.Website.ViewModels
@model IEnumerable<ItemViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">
                            Detalle
                        </a>
                        @*@Html.ActionLink("Detalle", "Details", new { id = item.Id })*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        La fecha actual es @ViewData["Date"]
    </div>
</div>
